<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Route</title>



</head>
<body>
    <!-- render all the routes an dth the select one -->
    <h1>Select Route</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Select Route</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h2>Available Routes</h2>
    <ul>
        {% for route in routes %}
            <li>{{ route.route_name }}</li>
            <!--  -->
        {% endfor %}

    </ul>


    
</body>
</html>