<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        table#alter tr:nth-child(even) {
            background-color: red;
        }
        table#alter tr:nth-child(odd) {
            background-color: lavender;
        }
        table#alter th {
            color: white;
            background-color: gray;
        }
    </style>
</head>
<body>
    <table id="alter">
        <tr><th>First_name</th><th>last_name</th><th>marks</th></tr>
        <tr><td>Sonno</td><td>jaiswal</td><td>60</td></tr>
        <tr><td>James</td><td>William</td><td>80</td></tr>
        <tr><td>James</td><td>Sirino</td><td>82</td></tr>
        <tr><td>Chetua</td><td>Mose</td><td>72</td></tr>
        
    </table>

    <div></div>
</body>
</html>
